#settings, #authentication, #shipping-address, #customer-authorization-post, #customer-authorization-get, #merchant-authorization-get, #checkout-post, #checkout-execute, #checkout-get, #deliveryInformation-update, #invoiceReference-update, #order-close, #paylink-manage, #capture-post, #capture-get, #refund-post, #refund-get, #reports, #accounts, #log, #success, #cancel, #failure, #reject, #age, #shippingTerms {
    display: none;
}
#settings:target, #authentication:target, #shipping-address:target, #customer-authorization-post:target, #customer-authorization-get:target, #merchant-authorization-get:target, #checkout-post:target, #checkout-execute:target, #checkout-get:target, #deliveryInformation-update:target, #invoiceReference-update:target, #order-close:target, #paylink-manage:target, #capture-post:target, #capture-get:target, #refund-post:target, #refund-get:target, #reports:target, #accounts:target, #log:target, #success:target, #cancel:target, #failure:target, #reject:target, #age:target, #shippingTerms:target {
    display: block;
}
.indent {
    margin: 1em;
}
#output:empty {
    display: none;
}
#output {
    font-family: monospace;
    font-size: 150%;
    white-space: pre-wrap;
}